
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet');
 :root {
     --pbmit-global-color:  #f98a5a;
     --pbmit-secondary-color: #34003d;
     --pbmit-light-color: #f9f7f4;
     --pbmit-white-color:#ffffff;
     --pbmit-blackish-color: #34003d;
     --pbmit-link-color-normal: #34003d;
     --pbmit-link-color-hover: #f98a5a;
     --pbmit-global-color-rgb:249, 138, 90;
     --pbmit-secondary-color-rgb: 52, 0, 61;
     --pbmit-responsive-breakpoint: 1200px;
     --pbmit-body-typography-font-family:'DM Sans', sans-serif;
     --pbmit-body-typography-variant: regular;
     --pbmit-body-typography-font-size: 16px;
     --pbmit-body-typography-line-height: 26px;
     --pbmit-body-typography-color: #787c8b;
     --pbmit-heading-typography-font-family: 'Quicksand', sans-serif;
     --pbmit-heading-color: #34003d;
     --pbmit-heading-font-variant: 700;
     --pbmit-btn-typography-font-family:'Quicksand', sans-serif;
     --pbmit-btn-typography-variant: 700;
     --pbmit-btn-typography-font-size: 13px;
     --pbmit-btn-typography-line-height: 20px;
     --pbmit-border-radius: 50px;
}
 